h1 {
text-align: center;
font-size: 2.5em;
background-color: lightpink;
margin-left: 20%;
margin-right: 20%;
padding-top: 50px;
padding-bottom: 50px;
border-radius: 50px;
}


body {
    background-color: rgb(124, 104, 238);
}

#container {
    background-color: rgba(1, 121, 190, 0.726);
    margin: 75px;
    padding: 50px;
}


.button {
    background-color: blue;
    padding: 15px;
    border-radius: 20px;
    color: white;

}

.button:hover {
    background-color: rgb(55, 55, 221);
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    background-color: blueviolet;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
}

nav ul li {
    float: left;
}

nav ul li a {
    display: block;
    padding: 10px 30px;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    font-size: 2em;
    font-family: Arial, Helvetica, sans-serif;
}

nav ul li a:hover {
    background-color: rgb(188, 128, 245);
    color: black;
}